body {
   background-color:#009933; 
    }
p {
    background-color:white;
}
div {
    background-color:orange;
}
span {
    background-color:cyan;
}
h1 {
    font-family:algerian;
    color: #cca300;
}
h2 {
    font-family:roman, 'times new roman';
    font-size: 15pt;
}
h3 {
    font-family:Zapf-Chancery, cursive
}