body {
   background-color:#009933;
}
div {
    background-color:orange;
    display: flex;
    justify-content: center;
    width: 600px;
}
img{ 
    height:200px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    
}
span {
    background-color:white;
}
h1 {
    font-family:algerian;
    color: orange;
    text-align: center;
}
#main {
    background-color:#009933;
}
h2 {
    font-family:roman, 'times new roman';
    font-size: 15pt;
}
h3 {
    font-family:Zapf-Chancery, cursive;
    display: flex;
    justify-content:flex-start;
}