body {
   background-color:#009933; 
    }
div {
    background-color:orange;
    width: 600px;
    margin: auto;
}
span {
    background-color:white;
}
h1 {
    font-family:algerian;
    color: orange;
}
#main {
    background-color:#009933;
}
h2 {
    font-family:roman, 'times new roman';
    font-size: 15pt;
}
h3 {
    font-family:Zapf-Chancery, cursive
}