body{
    background: #2B4B6F;
    color:black;
}
h1{
    text-align: center;
    border: 2px double black;
}
span.livingConditions{
    color: #AA7D39;
}
.wageDesc{
    color:#5478A0;
}
.persName{
    color: #E36087;
}
.orgName{
    color:#F5C376;
}
.placeName{
    color:#855E32
}
a{
    text-align: center;
}
a:visited{
    color:#0F263E;
}
a:link{
    color:#CF9F55;
}
